venv
**.pyc
.idea
idea

dist
db.sqlite3

prod_settings.py
local_settings.py

**/migrations/**
!**/migrations
!**bigrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc

media/*
!*media

log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev
/django_movie/media/
